.entries-table {
  width: 100%;
  border-collapse: collapse;
}

.entries-table th,
.entries-table td {
  border: 1px solid var(--navy-blue);
  padding: 8px;
  text-align: left;
}

.entries-table th {
  background-color: var(--navy-blue);
  color: var(--white);
  font-weight: bold;
}

.entries-table td {
  background-color: var(--light-gold);
  color: var(--navy-blue);
}

.selector-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.selector-container> div {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.selector-container label {
  margin-right: 0.5rem;
  display: block;
}

.search-input {
  margin-top: 0.5rem;
  /* margin-bottom: 10px; */
  padding: 8px;
  flex-grow: 1;
  min-width: 150px;
  border: 1px solid var(--navy-blue);
  border-radius: 5px;
  background-color: var(--light-gold);
  color: var(--navy-blue);
}